.demo-user {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: medium;
    border-radius: 3px;
    padding: 3px;
    color: rgb(28 42 53);
    background-color: rgb(230 234 234);
    margin-top: 30px;
    margin-bottom: 20px;
    width:313px
}

