.login-title {
    font-weight: 100;
    /* font-size: 18px; */
}

.auth-main{
    width: 100%;
    max-width: 700px;
  
    margin: 250px auto;
    padding: 40px 20px;
  
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .auth-terms{
    font-size: 14.5px;
  
    margin-top: 0;
    margin-bottom: 40px;
  
    color: rgb(131, 131, 131);
  }
  
  .login-title {
    border-bottom: 1px solid rgb(225, 225, 225);
  
    padding-bottom: 10px;
  }
  .auth-container {
    display: flex;
    justify-content: space-between;
  }
  
  .auth-kora-logo{
    margin: auto 43%;
    width:100px;
  }
  
  .auth-slogan{
    margin: 20px 50px;
    color: rgb(90, 90, 90);
  }
  
  .auth-container-section{
    flex: 1 1 50%;
    padding: 10px;
  }
  
  .auth-container-section:not(:last-child){
    border-right: 1px solid rgb(225, 225, 225);
  }
  
  .signupform-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .signup-btn{
    padding: 5px;
    margin-top: 10px;
  
    border: 1px solid #B92B27;
    border-radius: 15px;
  
    color: #B92B27;
    background-color: white;
  }
  
  .signup-btn:hover{
    border: 1px solid whie;
    border-radius: 15px;
  
    transition: all 0.7s;
  
    color: white;
    background-color: #B92B27;
  }
  
  .login-form {
    margin-top: auto 100px;
    padding: auto 100px;
  }
  
  .login-text-and-password-input{
    width: 92%;
    padding: 10px;
    margin-bottom: 10px;
  
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-submit {
    display: block;
  
    margin-left: auto;
    width: 25%;
    padding: 10px;
  
    background-color: #6a9bd5;
    color: #fff;
  
    border: none;
    border-radius: 50px;
  
    cursor: pointer;
  }
  
  .login-submit:hover {
    display: block;
  
    margin-left: auto;
    width: 25%;
    padding: 10px;
  
    background-color: #327fde;
    color: #fff;
  
    border: none;
    border-radius: 50px;
  
    cursor: pointer;
  
    transition: all 0.7s;
  }
  
  .login-error{
    color: red;
  }


/* .landing-main{
    background-color: blue;
     height:100vh;
    /* width: 100vh; */
    /* margin:0px; */
    /* */ 
    /* background-size: cover;
    background-repeat: no-repeat;  */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
   
/* }; */


/* .test123{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 400px
    /* width: 50% */
/* } */ 

/* .landing-logo{
    max-width: 100px;
    height: fit-content
} */

/* .login-demo-signup-login{
    width: 40%;
    margin:  auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    background-color:white;
    border-radius: 10px;
    padding: 30px;;

}

.login-demo-signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 30px 10px 30px;
    background-color: white;
} */




