.productdetails-container{
    width: 100%;
    /* height: 100%; */
    margin: 0px;
    background-color:rgb(234, 237, 237);
    height: 100vh;
    min-height : 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.productdetails-subcontainer{
   padding-top: 150px;
   width: 80%;
   padding-bottom: 50px;
  
}

.product-detail-thumbnail-img{
    width: 110px;
    height: 110px;
    /* margin: 10px; */
    
}


.product-detail-thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: white; */
    border-right: 2px solid  rgb(223, 222, 222);
    margin-right: 10px
   
}
.produt-detail-main-image{
    width:580px;
    height:580px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}


.product-detail-img{
    max-width: 580px;
    max-height: 580px;
    margin: 10px
}

.product-galary-image-galary{
    display: flex;
    flex-direction: row;
}

.product-detail-text{
    display:inline-flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-between;
    padding-bottom: 20px;
}
.productdetails-h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0px
}

/* REVIEW */
.productdetails-review{
background-color: white;
padding: 10px;
margin-bottom: 20px;
border-radius: 3px;
}
.productdetails-h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.productdetails-review-text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-wrap: break-word;

}
.product-details-shoppingcart-button{
    background-color: orange;
    border:none;
    border-radius: 15px;
    padding: 10px 100px 10px 100px;
    text-align: center;
    vertical-align: center;
}

.productdetails-review-name-rating{
    display: flex;
    flex-direction: row;
}
.productdetails-cart-form-elements{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.productdetails-cart-form-elements > * {
    margin-right: 30px;
}